.contact-details {
	margin: 0.5em 1em;
}

.contact-details .name {
	font-weight: bold;
}

em {
	font-weight: bold;
}

.explain-content {
	padding: 0.5em 3em;
}

.consent-checkbox {
	padding-left: 3em;
}

h3 {
	padding-bottom: 1em;
}

p {
	margin: 0 0 0.6em 0 !important;
}