// Copy this file to bn-elicitator.config.groovy, and specify the appropriate properties.
// It must live in one of the following locations:
// The file itself will have to be in one of the following locations:
// 
//   $HOME/.grails/bn-elicitator-config.groovy
// 
//   /etc/bn-elicitator/config.groovy (sorry Windows users, will have to think of a better place on request).
// 
//   bn-elicitator.config.location Java system property (e.g. `grails -Dbn-elicitator.config.location=/tmp/config.groovy`)
//
// DO NOT check this file into version control for a public project, as it will contain
// secrets that you do not want to share.

environments {
	development {
		// Most likely "http://localhost:8080/bn-elicitator" during development
		grails.serverURL = "http://host.name/path/to/deployment"
	}
	production {
		grails.serverURL = "http://host.name/path/to/deployment"
	}
}

bn {
	// This should be a .groovy file containing a class which extends "bn.elicitator.init.DataLoader". Feel free to
	// place the file wherever you want. A good starting point is to copy the 
	// "grails-app/utils/bn/elicitator/init/loaders/ExampleDataLoader.groovy" file and modify it to your needs.
	// It will specify which variables to use in your project, what states they can take, what variable class they 
	// belong to, and provides descriptions of each.
	// It will also be responsible for configuring what your home page looks like, and how your consent form is presented.
	dataLoaderClass = "/etc/bn-elicitator/data-loader.groovy"
}

// Uncomment this and configure if you want to be able to have the system send emails to users,
// or send emails to you (e.g. if there are errors).
// 
// NOTE: If you leave emails disabled, then people will not be asked to confirm their email addresses
//   when registering. Rather, it will trust that any email used to register is valid. If email sending
//   is configured, then people will be sent a confirmation email with a "complete registration" link.
/*
grails {
	plugins.springsecurity.ui.register.emailFrom = "your.email@example.com"
	mail {
		host     = "smtp.example.com"
		port     = 465
		username = "username"
		password = "password"
		props    = [
			"mail.smtp.auth" : "true",
			"mail.smtp.socketFactory.port" : "465",
			"mail.smtp.socketFactory.class" : "javax.net.ssl.SSLSocketFactory",
			"mail.smtp.socketFactory.fallback" : "false"
		]
	}
}
*/

// See http://grails.github.io/grails-doc/latest/guide/conf.html#dataSource for details of how to configure this block.
dataSource {
	dbCreate        = "update"
	url             = "jdbc:mysql://host/database"
	driverClassName = "com.mysql.jdbc.Driver"
	dialect         = "org.hibernate.dialect.MySQL5InnoDBDialect"
	username        = "username"
	password        = "username"
	
	// This is to prevent "java.io.EOFException: Can not read response from server. Expected to read 4 bytes, read 0 bytes before connection was unexpectedly lost." errors.
	// http://grails4you.com/2012/04/grails-and-java-io-eofexception-can-not-read-response-from-server/
	properties {
		maxActive = -1
		maxIdle = 8
		minIdle = 0
		maxWait = 180000
		minEvictableIdleTimeMillis = 1000 * 60 * 15
		timeBetweenEvictionRunsMillis = 1000 * 60 * 15
		numTestsPerEvictionRun = 3
		testOnBorrow = true
		testWhileIdle = true
		testOnReturn = false
		validationQuery = "select 1"
	}

}

// Ideally, this should mostly be moved to the regular config, so that the successUri, failureUri, callback,
// and api are all constant - and only the key and secret are in this config file.
// However, the callback depends on the serverURL variable which is defined above, and not available in the
// regular config file. As such, you should add your key and your secret to the CustomConfig.groovy,
// but don't modify the other options.
/*
oauth {
	providers {
		facebook {
			api        = FacebookApi
			key        = ''
			secret     = ''
			successUri = '/auth/oauth/onSuccess?provider=facebook'
			failureUri = '/auth/oauth/onFailure?provider=facebook'
			callback   = "${grails.serverURL}/oauth/facebook/callback"
		}
	}
}
*/
